:root {
  --background: #242424;
  --corBackground: #ddd;
  --corTexto:white;
  --corHover: rgba(0,0,0,.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor:pointer;
  user-select:none;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  /* background: var(--background); */
  background: linear-gradient(45deg,red,blue);
}

.container h1 {
  background: var(--corBackground);
  /* font-size: 3rem; */
  padding: 3rem;
  border-radius: 8px;
}

.container h1:hover {
  background: var(--corHover);
  color:var(--corTexto)
}
